.catalog {
    padding: 36px 0;
}

.catalog__title {
    
}


/* DIV 1 */
.catalog__content {

}

.catalog__column {
    grid-column: 3 span;
    padding-top: 12px;
}

/* DIV 2 */
.catalog__wrapper {
    grid-column: 9 span;
}

.catalog__products {
    --column-gap: 20px;
    --elems: 3;

    display: flex;
    flex-wrap: wrap;
    column-gap: var(--column-gap);
    row-gap: 36px;
}

/* --column-gap -->  отступ между контентом в строке
--elems --> сколько елементов будет в одной строке, тоисть по сетке из 12 их 3
*/

.catalog__item {
    width: calc((100% - ((var(--elems) - 1) * var(--column-gap))) / (var(--elems)));
}