@media (max-width: 1280px) {
    .product-info__image img {
        width: 500px;
    }
}

@media (max-width: 1024px) {
    .header__bottom {
        display: none;
    }

    .hero__content {
        flex-direction: column;
    }

    .hero__image {
        display: none;
    }

    .benefits__list {
        row-gap: var(--gap);
    }

    .benefits__item {
        grid-column: 6 span;
    }

    .products__item {
        grid-column: 6 span;
    }

    .product__top {
        width: 100%;
    }

    .product__image {
        width: 100%;
    }

    .products__list {
        row-gap: var(--gap);
    }

    .footer__column {
        grid-column: 6 span;
    }

    .footer__top {
        row-gap: var(--gap);
    }

    .footer__form {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .brand-info__image {
        height: 478px;
    }

    .brand-info__pic {
        width: 375px;
        display: block;
        object-fit: cover;
    }
}