.products {
    padding-top: 80px;
    padding-bottom: 56px;
}

.products__item {
    grid-column: 3 span;
}

.products__item--big {
    grid-column: 6 span;
}

.products__btn:focus {
    outline: 0;
}

.products__btn:focus-visible {
    outline: 2px dashed var(--dark-primary);
    outline-offset: var(--outline-offset);
}